{% extends "layout.html" %}

{% block title %} {{action}} photo {% endblock %}
{% block content %}
<div class="ym-wrapper">
    <div class="ym-wbox">

        <div class="ym-grid">
            <div class="ym-gbox">
                <form action="{{path_for('album_action', {'action':action})}}" method="post" class="ym-form"
                      enctype="multipart/form-data">
                    <input type="hidden" name="photoAction" value="{{ photoAction }}">
                    <input type="hidden" name="photoId" value="{{ photoId }}">
                    {% if action =='edit' %}
                    <input type="hidden" name="id" value="{{ id }}">
                    {% else %}
                    <div class="ym-fbox">
                        <label for="cover">Cover</label>
                        <input type="file" id="cover" name="cover">
                    </div>
                    {% endif %}

                    <div class="ym-fbox">
                        <label for="name">Title</label>
                        <input type="text" name="name" id="name" value="{{ name }}">
                    </div>
                    <div class="ym-fbox">
                        <label for="is_public">Public or private</label>
                        <select name="is_public" id="is_public">
                            {% for txt,opt in isPublicOptions %}
                            <option value="{{opt}}" {% if opt== is_public %} selected{% endif %}>{{txt}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="ym-fbox">
                        <label for="description">Description</label>
                        <textarea name="description" id="description">{{ description }}</textarea>
                    </div>
                    <div class="ym-fbox">
                        <label></label>
                        <button type="submit" class="ym-button ym-save">Submit</button>
                    </div>


                </form>
                <p><a class="ym-button ym-small" href="{{ path_for('admin_index') }}">Go Back</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
