{% extends "layout.html" %}

{% block title %} Admin index {% endblock %}
{% block content %}
<div class="ym-wrapper">
    <div class="ym-wbox">
        <div class="ym-grid">
            <div class="ym-gbox">
                {{flash|raw}}
                {% if user.id == 0 %}
                <p>Hi <strong>{{ user.name }}</strong>, you can login to create your own albums.<br>
                    If you don't have a account, it would be very easy to create one, <a class="ym-button ym-xsmall"
                                                                                         href="{{ path_for('registry') }}">Registy
                        now</a>
                </p>
                <form action="{{ path_for('login') }}" method="post" class="ym-form">
                    <div class="ym-fbox">
                        <label class="ym-label">User</label> <input type="text" name="username" class="form-control">
                    </div>
                    <div class="ym-fbox">
                        <label class="ym-label">Password</label> <input type="password" name="password"
                                                                        class="form-control">
                    </div>
                    <div class="ym-fbox">
                        <button type="submit" class="ym-fbox-button">Sign in</button>
                    </div>
                </form>
                {% else %}
                <p>Welcome <strong>{{ user.name }}</strong> ::
                    <a class="ym-button ym-small" href="{{path_for('sign_out')}}">Sign out</a>
                </p>
                {% endif %}
                {% if datas %}
                <table>
                    <tr>
                        <th>Photo</th>
                        <th>Description</th>
                        {% if user.id>0 %}<th>operation</th>{% endif %}
                    </tr>
                    {% for item in datas %}
                    <tr>
                        <td>
                            <img src="{{ staticPath ~ item.thumbnail }}" class="flexible">
                        </td>
                        <td>
                            {{ item.description }}
                        </td>
                        {% if user.id > 0 %}
                        <td>
                            <a class="ym-button ym-success ym-small ym-edit"
                               href="{{path_for('photo_action', {'action':'edit'}, {'id': item.id})}}">
                                edit
                            </a>
                            &nbsp;&nbsp;&nbsp;
                            <a href="{{path_for('photo_action', {'action':'delete'}, {'id': item.id})}}" class="ym-button ym-danger
                    ym-delete ym-small">delete</a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
                {% if paginator.items|length > 1 %}
                <p>
                    {% for page in paginator.items %}
                    <a href="{{ path_for('admin_index', {}, {'p':page}) }}" class="ym-button ym-xsmall">
                        {% if page != paginator.current %}
                        {{ page }}
                        {% else %}
                        <b>{{ page }}</b>
                        {% endif %}
                    </a>
                    {% endfor %}
                </p>
                {% endif %}
                {% endif %}

                {% if user.id > 0 %}
                <p>
                    <a class="ym-button ym-success ym-add" href="{{ path_for('photo_action', {'action':'add'}) }}">
                        add photo</a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
