{% extends "layout.html" %}

{% block title %} Archives - {% endblock %}
{% block content %}
    <div class="ym-wrapper">
        <div class="ym-wbox">

            <div class="ym-grid">

                <div class="ym-gbox">
                    <h2>Archives post</h2>
                    <p>
                    </p>
                    <ul>
                        {% for val in archives %}
                        <li>
                            <a href="{{
                            path_for('archives', val) }}">{{ val.year }}年{{ val.month }}月</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div id="aniimated-thumbnials">
                        {% for item in datas %}
                        <a 
                        href="{{ path_static() ~ item.photo }}"
                        data-sub-html="{{ item.description }}"
                        >
                            <img src="{{ path_static() ~ item.thumbnail }}">
                        </a>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
