{% extends "layout.html" %}

{% block title %} Home {% endblock %}
{% block content %}
    <div class="ym-wrapper">
        <div class="ym-wbox">

            <div class="ym-grid">

                <div class="ym-gbox">
                    <h2>Welcom here</h2>
                    {{flash|raw}}
                    {% for item in datas %}
                    <p class="">
                        <a href="{{ path_for('album_detail', {'id': item.id}) }}">
                            <img src="{{ staticPath ~ item.cover}}" class="bordered">
                        </a>
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
