{% extends "layout.html" %}

{% block title %} Home {% endblock %}
{% block content %}
    <div class="ym-wrapper">
        <div class="ym-wbox">

            <div class="ym-grid">

                <div class="ym-gbox">
                    <h2>Recent posts</h2>
                    {{flash|raw}}
                    <div id="aniimated-thumbnials">
                        {% for item in datas %}
                        <a
                                href="{{ staticPath ~ item.photo }}"
                        data-sub-html="{{ item.description }}"
                        >
                            <img src="{{
                            staticPath ~
                            item.thumbnail }}">
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
